body {

    display: flex;
align-items: flex-start;
}

.blue {
padding: 100px;
background-color: blue;
}

.yo {
    padding: 100px;
    background-color: yellow;
margin: 30px;
}

.flex {
display: flex;

}



