body {

    display: flex;
align-items: flex-start;
}

.blue {
padding: 100px;
background-color: blue;
}

.yo {
    padding: 100px;
    background-color: yellow;
margin: 30px;
}


.red {
padding-right: 350px;
background-color: red;
}

.green {
background-color: green;
padding-bottom: 200px;

}

.purple {
    background-color: purple;
    padding-bottom: 200px;
}


.flex {
display: flex;
}

