body {

    display: flex;
align-items: flex-start;
}

.blue {
padding: 100px;
background-color: blue;
}

.yo {
    padding: 100px;
    background-color: yellow;
margin: 30px;
}


.red {
padding-right: 350px;
background-color: red;
}

.green {
background-color: green;
padding-bottom: 360px;

}

.purple {
  
    background-color: purple;
    padding-bottom: 560px;
}

.orange {
padding-bottom: 390px;
}

.talvez {
padding-bottom: 420px;

}

.gray {
padding-right: 620px;
background-color: gray;
}

.jaca {
padding-bottom: 330px;

}

.pink {
padding-right: 300px;
background-color: pink;

}

.flex {
display: flex;
}

